lambda arguments: expression

In [3]:
double = lambda x: x * 2
double(5)

10

In [7]:
my_list = range(10)
new_list = filter(lambda x: (x%2 == 0) , my_list)  # If the function returns True, element stays
print(type(new_list))

list(new_list)

<class 'filter'>

[0, 2, 4, 6, 8]

In [11]:
my_list = range(10)
new_list = map(lambda x: x**2 , my_list)
print(type(new_list))

list(new_list)

<class 'map'>

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [13]:
student_tuples = [
        ('john', 'A', 15),
        ('jane', 'B', 12),
        ('dave', 'B', 10),
]
sorted(student_tuples, key=lambda student: student[2])

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

In [15]:
mydict = {"John": 23, "Jane": 21, "Dave": 25}
sorted(mydict.items(), key=lambda x: x[1], reverse = True)

[('Dave', 25), ('John', 23), ('Jane', 21)]